.logo {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.navigation .logo {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo.web {
    color: var(--accent-color);
}