:root {
--primari-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3;
--white-color: #ffffff;
--secondary-color-fon: #f5f4fa;
--social-link-color: #afb1b8;
--animation-link: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}