.header {
    border-bottom: 1px solid #eeeeee;
}
.header__container {
   
    display: flex;
    align-items: center;
    @media screen and(max-width:767px) {
        justify-content: space-between;
        height:60px;
        
    }
}
.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--animation-link);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
    &.current {
    color: var(--accent-color);

}
}
.site-nav .link.line {
    position: relative;
    &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}
}
.site-nav {
   
    display: none;
    @include tablet {
    display: flex;
    align-items: center;
    margin-left: 93px;
    gap: 50px;  
    }
    @include desktop{
    display: flex;
    align-items: center;
    margin-left: 93px;
    gap: 50px;
    }
}

.navigation {
    @include tablet{ 
        display: flex;
    }
}

.contacts.list .link {
   
    display: flex;
    
    align-items: center;
    justify-content: center;
    @include tablet {
    padding: 0;
    } 
    @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    }

    color: var(--primari-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: var(--primari-text-color);
    transition: color var(--animation-link), fill var(--animation-link);

}

.contacts-icon {
    margin-right: 10px;
    /* fill: var(--primari-text-color); */
    fill: currentColor;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}



.contacts {
   
    display: none;
    @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    gap: 10px; 
    padding-top: 21px;
    padding-bottom: 21px;
    }
    @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 50px;
    padding: 0;
    }
}