.banner {
    
    
    background-color: #2f303a;
    text-align: center;
    
   
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 0;
    max-width: 100%;
    height: 400px;
    @include desktop {
     max-width: 1600px; 
     height: 600px;  
    }
      
    }
    .hero__container{
        padding: 0;
        width: 100%;
     
    }
.hero__wrap{
    padding:118px 60px;
    @include tablet {
    padding: 118px 204px;
    }
    @include desktop {
    padding-top: 200px;
   
    }
}
  .hero__banner{
margin-left:auto;
margin-right:auto;
  }
.banner__btn{
    margin-top: 30px;
}
.banner__title {
    color: var(--white-color);
    
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.42;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include desktop {
    width: 696px;  
    font-size: 44px;
    line-height: 1.36;
    }
}

